<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <title>MS Shop</title>
    <th:block th:replace="/layout/head :: head"/>
</head>

<body data-layout="horizontal">
<div class="loader hide"></div>
<!-- Begin page -->
<div id="wrapper">

    <th:block th:replace="/layout/header :: header"/>

    <div class="content-page">
        <div class="content">

            <!-- Start Content-->
            <div class="container-fluid">
                <div class="col-xl-12">
                    <div class="card-box">
                        <div class="row">
                            <div class="col-9">
                                <h4 class="header-title mb-3" style="color: cornflowerblue;">
                                   Danh Sách Sản Phẩm</h4>

                            </div>
                            <div class="col-3">
                                <button id="btnShowCreateModal" class="btn btn-info btn-add create"
                                        style="margin-left: 50px; margin-bottom: 15px"
                                >
                                    <i class="fa fa-plus"></i> Tạo Sản Phẩm Mới
                                </button>
                            </div>

                            <div class="content">
                                <input type="hidden" id="currentRow">
                                <table id="tbProduct" class="table table-hover">
                                    <thead>
                                    <tr>
                                        <th>STT</th>
                                        <th>Tên Sản Phẩm</th>
                                        <th>Số lượng</th>
                                        <th>Giá</th>
                                        <th>Mô tả</th>
                                        <th>Ảnh</th>
                                        <th colspan="2">Công Cụ</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                    <div id="footer" class="footer"></div>

                    <th:block th:replace="/product/modalCreate :: modalCreate"/>
                    <th:block th:replace="/product/modalUpdate :: modalUpdate"/>
                </div>

            </div>

        </div>
    </div>
    <th:block th:replace="/layout/script :: script"/>
</div>
<script>

    let page = {
        urls: {
            getAllProducts: App.BASE_URL_PRODUCT,
            getProductById: App.BASE_URL_PRODUCT,
            create: App.BASE_URL_PRODUCT + "/create",
            update: App.BASE_URL_PRODUCT + "/update",
            delete: App.BASE_URL_PRODUCT + "/delete/"
        },
        elements: {},
        loadData: {},
        commands: {},
        dialogs: {
            elements: {},
            loadData: {},
            commands: {},
        },
        initializeEventControl: {}
    }

    let avatar = new Avatar();
    let product = new Product();

    page.elements.loader = $(".loader");

    page.elements.tbProduct = $("#tbProduct tbody");
    page.elements.btnShowCreateModal = $("#btnShowCreateModal");
    page.elements.modalCreate = $("#modalCreate");
    page.elements.modalUpdate = $("#modalUpdate");

    page.dialogs.elements.frmCreate = $("#frmCreate");
    page.dialogs.elements.nameCre = $("#nameCre");
    page.dialogs.elements.amountCre = $("#amountCre");
    page.dialogs.elements.priceCre = $("#priceCre");
    page.dialogs.elements.descriptionCre = $("#descriptionCre");
    page.dialogs.elements.btnCreate = $("#btnCreate");

    page.dialogs.elements.frmUpdate = $("#frmUpdate");
    page.dialogs.elements.nameUp = $("#nameUp");
    page.dialogs.elements.amountUp = $("#amountUp");
    page.dialogs.elements.priceUp = $("#priceUp");
    page.dialogs.elements.descriptionUp = $("#descriptionUp");
    page.dialogs.elements.btnUpdate = $("#btnUpdate");

    page.dialogs.elements.wrapper = $("section .wrapper");
    page.dialogs.elements.imageFile = $("#imageFile");
    page.dialogs.elements.wrapperContent = $("section .wrapper .content");
    page.dialogs.elements.imagePreview = $("section .image-preview canvas");
    page.dialogs.elements.canvas = $("#canvas");
    page.dialogs.elements.context = page.dialogs.elements.canvas[0].getContext('2d');
    page.dialogs.elements.imagePreview.css("display", "none");
    page.dialogs.elements.divImagePreview = $("div.image-preview, div.file-name");
    page.dialogs.elements.btnClearImagePreview = $(".clear-image-preview i");

    page.dialogs.elements.wrapperUp = $("#frmUpdate section .wrapper");
    page.dialogs.elements.imageFileUp = $("#imageFileUp");
    page.dialogs.elements.wrapperContentUp = $("#frmUpdate section .wrapper .content");
    page.dialogs.elements.imagePreviewUp = $("#frmUpdate section .image-preview canvas");
    page.dialogs.elements.canvasUp = $("#canvasUp");
    page.dialogs.elements.contextUp = page.dialogs.elements.canvasUp[0].getContext('2d');
    page.dialogs.elements.imagePreviewUp.css("display", "none");
    page.dialogs.elements.divImagePreviewUp = $("#frmUpdate div.image-preview, #frmUpdate div.file-name");

    page.commands.showLoading = () => {
        page.elements.loader.removeClass("hide");
        page.dialogs.elements.btnCreate.prop('disabled', true);
        page.dialogs.elements.btnUpdate.prop('disabled', true);

    }

    page.commands.closeLoading = () => {
        page.elements.loader.addClass("hide");
        page.dialogs.elements.btnCreate.prop('disabled', false);
        page.dialogs.elements.btnUpdate.prop('disabled', false);

    }


    //-Load image Update-//
    page.dialogs.commands.loadImageToCanvasUp = (imageFile, fileType, imageUrl) => {
        page.dialogs.elements.imagePreviewUp.css("display", "");
        page.dialogs.elements.wrapperUp.addClass("active");
        page.dialogs.elements.wrapperContentUp.css("opacity", 0);

        let imageObj = new Image();

        imageObj.onload = function () {
            page.dialogs.elements.contextUp.canvas.width = imageObj.width;
            page.dialogs.elements.contextUp.canvas.height = imageObj.height;
            page.dialogs.elements.contextUp.drawImage(imageObj, 0, 0, imageObj.width, imageObj.height);
        };
        if (fileType === "BINARY") {
            imageObj.src = URL.createObjectURL(imageFile);
        } else {
            imageObj.src = imageUrl;
        }
    }

    page.dialogs.commands.changeImagePreviewUp = () => {
        let imageFile = page.dialogs.elements.imageFileUp[0].files[0];

        if (imageFile) {
            let reader = new FileReader();

            reader.readAsDataURL(imageFile);

            reader.onload = function (e) {
                if (e.target.readyState === FileReader.DONE) {
                    page.dialogs.commands.loadImageToCanvasUp(imageFile, "BINARY", null);
                }
            }
        } else {
            page.dialogs.elements.clearImagePreviewUp();
        }
    }

    page.dialogs.elements.clearImagePreviewUp = () => {
        page.dialogs.elements.imageFileUp.val("");
        page.dialogs.elements.imagePreviewUp.css("display", "none");
        page.dialogs.elements.wrapperUp.removeClass("active");
        page.dialogs.elements.wrapperContentUp.css("opacity", 1);
    }
    //--//

    page.dialogs.elements.btnCreate.on("click", () => {
        page.dialogs.elements.frmCreate.trigger("submit");
    })

    page.dialogs.elements.btnUpdate.on("click", () => {
        page.dialogs.elements.frmUpdate.trigger("submit");
    })

    page.elements.btnShowCreateModal.on("click", () => {
        page.elements.modalCreate.modal("show");
    });

    page.commands.handleOpenConfirmDelete = () => {
        $(".delete").on("click", function () {

            let productId = $(this).data("id");
            ;

            App.SweetAlert.showSuspendedConfirmDialog()
                .then((result) => {
                    if (result.isConfirmed) {
                        page.dialogs.commands.deactivateProduct(productId);
                    }
                });
        });
    }
    page.dialogs.commands.deactivateProduct = (productId) => {
        $.ajax({
            headers: {
                "accept": "application/json",
                "content-type": "application/json"
            },
            type: "DELETE",
            url: page.urls.delete + productId
        })
            .done(() => {
                App.SweetAlert.showAlertSuccess(App.AlertMessageVi.SUCCESS_DEACTIVATE);
                $("#tr_" + productId).remove();
            })
            .fail((jqXHR) => {
                console.log("jqXHR deactivateCustomer ======");
                console.log(jqXHR);

                if (jqXHR.status === 401) {
                    App.IziToast.showErrorAlert(App.AlertMessageVi.ERROR_401);
                }

                if (jqXHR.status === 403) {
                    App.IziToast.showErrorAlert(App.AlertMessageVi.ERROR_403);
                } else {
                    App.IziToast.showErrorAlert("Xóa thất bại");
                }
            });
    }

    page.commands.handleOpenModalUpdate = () => {
        $(".edit").on("click", function () {
            let productId = $(this).data("id");
            let avatarFileFolder = $(this).data("avatar-file-folder");
            let avatarFileName = $(this).data("avatar-file-name");

            let avatarUrl = App.BASE_CLOUDIARY_SERVER + "/" + App.BASE_SCALE_IMAGE_W300_H300_Q100 + "/" + avatarFileFolder + "/" + avatarFileName;
            page.dialogs.commands.loadImageToCanvasUp(null, "", avatarUrl);

            page.commands.getProductById(productId).then(() => {
                page.dialogs.elements.nameUp.val(product.name);
                page.dialogs.elements.amountUp.val(product.amount);
                page.dialogs.elements.priceUp.val(product.price);
                page.dialogs.elements.descriptionUp.val(product.description);

                page.elements.modalUpdate.modal("show");
            })
                .catch(() => {
                    console.log("get edit fail");
                    App.SweetAlert.showAlertError(App.AlertMessageVi.ERROR_404);
                });
        })
    }

    page.commands.getAllProducts = () => {
        $.ajax({
            headers: {
                "accept": "application/json",
                "content-type": "application/json"
            },
            type: "GET",
            url: page.urls.getAllProducts
        })
            .done((data) => {
                data.map(item => {
                    avatar = item.avatar
                    page.elements.tbProduct.prepend(App.renderRowProduct(item, avatar));
                });
                page.commands.initTooltip();
                page.commands.handleOpenModalUpdate();
                page.commands.handleOpenConfirmDelete();
            })
            .fail((jqXHR) => {
                App.SweetAlert.showAlertError(App.AlertMessageVi.ERROR_500);
            })
    }

    page.commands.getProductById = (productId) => {
        return $.ajax({
            headers: {
                "accept": "application/json",
                "content-type": "application/json"
            },
            type: "GET",
            url: page.urls.getProductById + "/" + productId
        })
            .done((data) => {
                product = data;
            })
            .fail((jqXHR) => {
                console.log("jqXHR ======");
                console.log(jqXHR);
            });
    }

    //Upload file ảnh

    page.commands.createProduct = () => {
        page.commands.showLoading();
        let formData = new FormData();
        formData.append("name", page.dialogs.elements.nameCre.val().toString());
        formData.append("amount", page.dialogs.elements.amountCre.val().toString());
        formData.append("price", page.dialogs.elements.priceCre.val().toString());
        formData.append("description", page.dialogs.elements.descriptionCre.val().toString());
        formData.append("file", page.dialogs.elements.imageFile[0].files[0]);
        $.ajax({
            type: "POST",
            contentType: false,
            cache: false,
            processData: false,
            url: page.urls.create,
            data: formData
        }).done((data) => {
            page.elements.tbProduct.prepend(App.renderRowProduct(data, data.avatar));

            page.commands.initTooltip();
            page.commands.handleOpenModalUpdate();
            page.commands.handleOpenConfirmDelete();
            page.commands.closeLoading();

            App.IziToast.showSuccessAlert("thêm thành công!!")
            page.elements.modalCreate.modal('hide');

        }).fail((jqXHR) => {
            App.IziToast.showErrorAlert("ERROR_400");
        });
    }

    page.commands.updateProduct = () => {
        page.commands.showLoading();
        let formData = new FormData();

        formData.append("id", product.id.toString());
        formData.append("name", page.dialogs.elements.nameUp.val().toString());
        formData.append("amount", page.dialogs.elements.amountUp.val().toString());
        formData.append("price", page.dialogs.elements.priceUp.val().toString());
        formData.append("description", page.dialogs.elements.descriptionUp.val().toString());
        formData.append("file", page.dialogs.elements.imageFileUp[0].files[0]);
        // console.log(page.dialogs.elements.imageFileUp[0].files[0]);
        $.ajax({
            type: "PATCH",
            contentType: false,
            cache: false,
            processData: false,
            url: page.urls.update,
            data: formData
        }).done((data) => {

            let currentRow = $("#tr_" + data.id)
            currentRow.replaceWith(App.renderRowProduct(data, data.avatar));

            page.commands.initTooltip();
            page.commands.handleOpenModalUpdate();
            page.commands.handleOpenConfirmDelete();
            page.commands.closeLoading();
            App.IziToast.showSuccessAlert("sửa thành công")
            page.elements.modalUpdate.modal('hide');
        }).fail((err) => {
            console.log(err)
            App.IziToast.showErrorAlert("ERROR_400");
        });
    }

    page.dialogs.commands.loadImageToCanvas = (imageFile) => {
        page.dialogs.elements.imagePreview.css("display", "");
        page.dialogs.elements.wrapper.addClass("active");
        page.dialogs.elements.wrapperContent.css("opacity", 0);

        let imageObj = new Image();

        imageObj.onload = function () {
            page.dialogs.elements.context.canvas.width = imageObj.width;
            page.dialogs.elements.context.canvas.height = imageObj.height;
            page.dialogs.elements.context.drawImage(imageObj, 0, 0, imageObj.width, imageObj.height);
        };

        imageObj.src = URL.createObjectURL(imageFile)
    }

    page.dialogs.commands.changeImagePreview = () => {
        let imageFile = page.dialogs.elements.imageFile[0].files[0];

        if (imageFile) {
            let reader = new FileReader();

            reader.readAsDataURL(imageFile);

            reader.onload = function (e) {
                if (e.target.readyState === FileReader.DONE) {
                    page.dialogs.commands.loadImageToCanvas(imageFile);
                }
            }
        } else {
            page.dialogs.elements.clearImagePreview();
        }
    }

    page.dialogs.elements.clearImagePreview = () => {
        page.dialogs.elements.imageFile.val("");
        page.dialogs.elements.imagePreview.css("display", "none");
        page.dialogs.elements.wrapper.removeClass("active");
        page.dialogs.elements.wrapperContent.css("opacity", 1);
    }

    page.dialogs.elements.frmCreate.validate({
        rules: {
            nameCre: {
                required: true,
                minlength: 5,
                maxlength: 35
            },
            amountCre: {
                required: true,
                min: 1,
            },
            priceCre: {
                required: true,
                min: 500000,
            }

        },
        messages: {
            nameCre: {
                required: "Vui lòng nhập tên đầy đủ",
                minlength: "Họ tên tối thiểu 5 ký tự",
                maxlength: "Họ tên tối đa 35 ký tự"
            },
            amountCre: {
                required: "vui lòng nhập số lượng",
                min: "phải nhập số nguyên lớn hơn 0"
            },
            priceCre: {
                required: "vui lòng nhập giá",
                min: "phải nhập số nguyên lớn hơn 500000"
            }
        },
        submitHandler: function () {
            page.commands.createProduct();
        }
    })

    page.dialogs.elements.frmUpdate.validate({
        rules: {
            nameUp: {
                required: true,
                minlength: 5,
                maxlength: 35
            },
            amountUp: {
                required: true,
                min: 1,
            },
            priceUp: {
                required: true,
                min: 500000,
            }
        },
        messages: {
            nameUp: {
                required: "Vui lòng nhập tên đầy đủ",
                minlength: "Họ tên tối thiểu 5 ký tự",
                maxlength: "Họ tên tối đa 35 ký tự"
            },
            amountUp: {
                required: "vui lòng nhập số lượng",
                min: "phải nhập số nguyên lớn hơn 0"
            },
            priceUp: {
                required: "vui lòng nhập giá",
                min: "phải nhập số nguyên lớn hơn 500000"
            }

        },
        submitHandler: function () {
            page.commands.updateProduct();
        }
    })

    page.commands.initTooltip = () => {
        const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
        const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))
    }

    page.elements.modalCreate.on("hidden.bs.modal", function () {
        page.dialogs.elements.frmCreate[0].reset();
        page.dialogs.elements.btnClearImagePreview.trigger("click");
    });
    page.elements.modalUpdate.on("hidden.bs.modal", function () {
        page.dialogs.elements.frmUpdate[0].reset();
        page.dialogs.elements.btnClearImagePreview.trigger("click");
    });

    page.initializeEventControl = () => {
        page.dialogs.elements.divImagePreview.on("click", function () {
            page.dialogs.elements.imageFile.trigger("click");
        });

        page.dialogs.elements.imageFile.on("change", function () {
            page.dialogs.commands.changeImagePreview();
        });
        page.dialogs.elements.btnClearImagePreview.on("click", function () {
            page.dialogs.elements.clearImagePreview();
        });

        page.dialogs.elements.divImagePreviewUp.on("click", function () {
            page.dialogs.elements.imageFileUp.trigger("click");
        });

        page.dialogs.elements.imageFileUp.on("change", function () {
            page.dialogs.commands.changeImagePreviewUp();
        });

    }

    page.loadData = () => {
        page.commands.getAllProducts();
    }

    $(() => {
        page.loadData();

        page.initializeEventControl();
    })

</script>

</body>

</html>